@model IEnumerable<Istat.Models.Comune>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<form>
    Cerca per nome Comune: <input type="text" name="comune" value="@ViewBag.comune" />
    Popolazione: <select name="popolazione">
        <option value=null selected></option>
        <option value=5000>5000</option>
        <option value=50000>50000</option>
        <option value=100000>100000</option>
        <option value=1000000>1000000</option>
    </select>
    <input type="submit" value="Cerca" />
    
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Denominazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodiceCatastale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComuneCapoluogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltitudineCentro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZonaLitoranea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Superficie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popolazione2001)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Popolazione2011)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProvinciaNavigation.Denominazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdZonaAltimetricaNavigation.Denominazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdZonaMontanaNavigation.Denominazione)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Denominazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceCatastale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComuneCapoluogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltitudineCentro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZonaLitoranea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Superficie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popolazione2001)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Popolazione2011)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProvinciaNavigation.Denominazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdZonaAltimetricaNavigation.Denominazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdZonaMontanaNavigation.Denominazione)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
